main{
    height: auto;
}

section {
    padding-top: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 25%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 4px 0 rgb(0, 0, 0);
}

.box_input{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    
}

.box_input label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.7cap;
}

.box_input input{
   margin-top: 2px;
   border-top: transparent;
   border-left: transparent;
   border-right: transparent;
   outline: none;
}