header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6vh;
    box-shadow: 0 1px 4px 0 rgb(0, 0, 0);
}

.compenents_header{
    display: flex;
    width: 94%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.compenents_header img{
    width: 80px;
}

.compenents_header a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}